:root {
  --font-name: 'Noto Sans JP', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.3 * var(--space-unit));
  --space-sm: calc(0.9 * var(--space-unit));
  --space-md: calc(1.35 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));

  /* Color | Global */
  --color-black: #333333;

  --color-blue: #2962FF;

  --color-red: #D32F2F;

  --color-grey-1: #828282;
  --color-grey-2: #E0E0E0;
  --color-grey-3: #F2F2F2;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
}

.material-icons {
  font-size: 20px;
}



